<div>
    <h2>About</h2>
        <ul>
            <li>Implemented a RESTful API using Node.js and Express.js that handles various endpoints for code submission,
            execution, and retrieval of results in Python and JavaScript.</li>
            <li>Implements authentication using JWT (JSON Web Tokens) to secure the API endpoints and restrict access to
            authorized users only.</li>
            <li>Utilizes MongoDB Atlas as the database to store user data and execution results, ensuring data persistence and
            scalability.</li>
            <li>Implements a secure sandbox environment for executing code in Node.js, protecting the system from potentially
            harmful or malicious code.</li>
            <li>Implements proper error handling and validation for API requests and responses.</li>
        </ul>

    <br>
    <h2>URL Endpoints</h2>
    <ul>
        <li><code>`https://code-executer-api.onrender.com/`</code><div> - Method: GET</div> - Home Page</li><br>
        <li><code>`https://code-executer-api.onrender.com/signup`</code> <div> - Method: POST </div> - for Signup</li><br>
        <li><code>`https://code-executer-api.onrender.com/login`</code> <div> - Method: POST </div> - for Login</li><br>
        <li><code>`https://code-executer-api.onrender.com/api/user/:username`</code> <div> - Method: GET </div> - To get User Details</li><br>
        <li><code>`https://code-executer-api.onrender.com/api/user/code`</code> <div> - Method: POST </div> - for Executing Code</li><br>
        <li><code>`https://code-executer-api.onrender.com/api/user/submissions`</code> <div> - Method: GET </div> - Get submission History</li><br>
    </ul>

    <br>
    <h2>Github Repo.</h2>
    <h4>https://github.com/Manas-Tiwari/codeExecuter-API/tree/master</h4>
</div>