<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../public/index.css">
    <title>CodeExecuter-API | Home</title>
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="company-name">CodeExecuter-API</div>
            <div class="nav-links">
                <a href="/" class="nav-link">Home</a>
                <a href="#" class="nav-link">Login</a>
            </div>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div class="footer-content">
            <p class="footer-text">&copy; 2023 CodeExecuter-API. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>